<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <!-- Using interpolation to set the image source -->
      <img src="{{ imagePath }}" alt="Profile picture" class="about-pic" />
    </div>

    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <img src="{{ educationImage }}" alt="Education icon" class="icon" />
          <h3>Education</h3>
          <p>B.E. Electronics and Tele-communication</p>
        </div>
      </div>

      <div class="text-container">
        <p>
          As a passionate software enthusiast with a solid foundation in technical skills, 
          I'm excited to pursue a Software Developer role that utilizes my strengths in crafting scalable 
          web applications and software design patterns. My goal is to drive innovation in server-side development, 
          enhancing core business logic and user-centric solutions. I'm dedicated to delivering top-notch 
          software solutions that align with the company's vision and values, driving growth and excellence.
        </p>
      </div>
    </div>
  </div>
</section>
