<nav id="desktop-nav">
    <div class="logo">
      Shubham Borse
    </div>
    
    <div>
      <ul class="nav-links">
        <div *ngIf="isHiderVisible" class="shubh-hider">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="certifications">Certifications</a></li>
          <li><a routerLink="skills">Skills</a></li>
          <li><a routerLink="projects">Projects</a></li>
          <li><a routerLink="about">Contact</a></li>
        </div>
          <li class="ham">
        <div class="hamburg">
            <span (click)="onOff()">|||</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>