<div id="certification" class="certification-container">
    <h2>My <span>Certifications</span></h2>
    <div class="certification-section">
        <!-- Certification 1 -->
        <div class="certification-card">
            <h3>Learn Intermediate Java</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources/Certificates/Shubham_Borse_Learn_Intermediate_Java_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>

        <!-- Certification 2 -->
         <div class="certification-card">
            <h3>Learn SQL</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources\Certificates\Shubham_Borse_Learn_SQL_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>

        <!-- Certification 3 -->
         <div class="certification-card">
            <h3>HTML and CSS</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources\Certificates\Shubham_Borse_Learn_HTML_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>

        <!-- Certification 4 -->
         <div class="certification-card">
            <h3>Git and GitHub</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources\Certificates\Shubham_Borse_Learn_Git_And_Github_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>
        
        <!-- Certification 5 -->
        <div class="certification-card">
            <h3>JavaScript</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources\Certificates\Shubham_Borse_Learn_JavaScript_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>
        
        <!-- Certification 6 -->
        <div class="certification-card">
            <h3>TypeScript</h3>
            <p><strong>Issued By:</strong> Codecademy</p>
            <p><strong>Completion Year:</strong> 2024</p>
            <a href="resources\Certificates\Shubham_Borse_Learn_TypeScript_Course.pdf" class="view-button" target="_blank">View Certificate</a>
        </div>
    </div>
</div>