<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container color-container">
          <div class="article-container">
            <img src="resources\images\project-1.jpg" alt="Project 1" class="project-img"/>
          </div>
          <h2 class="experience-sub-title project-title">Fun Roulette</h2>
          <p>
            <strong>Technologies used :</strong>
            Java, OOP, Eclips<br>
            <strong>Info : </strong> program includes player interaction by taking numbers from them. Number matching. Input validation and gives tasks based on elimination.
          </p>
          <div class="btn-container">
            <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/ShubhamBorase/Fun_Roulette_Game'" >
              Github
            </button>
          </div>
        </div>
        
        <div class="details-container color-container">
          <div class="article-container">
            <img src="resources\images\project-2.jpg" alt="Project 2" class="project-img" />
          </div>
          <h2 class="experience-sub-title project-title">Employees Management System</h2>
          <div class="btn-container">
            <p>
              <strong>Technologies used :</strong>
              Java, OOP, JDBC, MySQL, Eclips<br>
              <strong>Info : </strong> Created a comprehensive employee database that included critical fields such as ID, Name, Position, and Salary; streamlined access for HR personnel. With functionalities like adding new employees, deleting existing employees, updating employee info, search feature.              
            </p>  
            <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/'" >
              Github
            </button>
          </div>
        </div>

        <div class="details-container color-container">
          <div class="article-container">
            <img src="resources\images\spotify.png" alt="Project 2" class="project-img" />
          </div>
          <h2 class="experience-sub-title project-title">Spotify Front Page Clone</h2>
          <div class="btn-container">
            <p>
              <strong>Technologies used :</strong>
              HTML5, CSS<br>
              <strong>Info : </strong> Leveraged HTML, CSS to build a functional Spotify landing page. Incorporated interactive elements and smooth transitions for an engaging user interface."              
            </p>  
            <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/ShubhamBorase/spotify'" >
              Github
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>